
@media (min-width: 1700px) { 

#main .line-1, #main .line-2, #main .line-3, #main .top-menu, #main .soc-left { display: block; }
	
}
	
@media (max-width: 900px) { 
	
	h1 { font: bold 40px/46px 'Montserrat'; } 
	h2 { width: 100%; font: bold 40px/48px 'Montserrat'; }
	.navbar-header { margin-bottom: 0px; }
	header div ul li {  font: 14px/25px 'Montserrat'; }
	.form { width: 100%; margin-top: 30px; }
	header { height: auto; background: #e6e8ff url(../images/bg_header.jpg) center bottom no-repeat; padding-bottom: 20px; }
	.row { margin: 0px; }
	.plus ul li { min-height: 150px; }
	.btn { width: 100%; }
	.ul { height: auto; }
	.carousel { height: auto; }
	.info div { border-right: 0px; }
	
	.blocks:after { display: none; }
	.blocks { background: #6052a4; min-height: auto; padding-bottom: 40px; }
	.blocks:before { display: none; }
	.blocks p { padding-right: 0px; }
	.work h2 + p { width: 100%; }
	footer .navbar ul { float: none; }
	footer .navbar ul li { display: block; text-align: center; }
	.bottom ul li { margin-bottom: 20px; }
	.work { padding-bottom: 0px; }
	
	.logo { left: 30px; }
	.logo + span { left: 70px; }
	
	.ul .item p { padding-right: 0px; }
	.ul .item { margin-bottom: 65px; }
	.panel-title span { font: bold 35px/22px 'Montserrat'; }
	.blocks .row div img { display: none; }
	
	#main h1 { font: 500 36px/50px 'Montserrat'; }
	#main h2 { font: bold 20px/30px 'Montserrat'; }
	#main .banner ul li { font: 18px/28px 'Montserrat'; }
	#main .navbar ul { border: 0px; }
	#main .navbar { margin-bottom: 30px; }
	#main .navbar ul { padding-top: 15px; }
	#main .navbar ul li.dropdown-li:hover { border: 0px; }
	#main .navbar ul li ul { background: none; padding-bottom: 0px; margin-bottom: 15px; }
	#main .video { display: block; width: 100%; }
	#main .video .area { width: 100%; min-height: 260px; background: #fff; left: 0px; top: 0px; margin-bottom: 20px; }
	#main .video:before { background: none; display: none; }
	#main .video .time { bottom: -70px; left: 0px; }
	
	#main header { height: auto; background-position: center bottom; }
	#main header .logo { float: none; left: 0px; top: 33px; }
	#main .navbar ul li { display: block; float: none; text-align: left; }
	#main .navbar ul li ul { -moz-column-count: 1; /* Для Firefox */
    -webkit-column-count: 1; /* Для Safari и Chrome */
    column-count: 1; position: relative; border: 0px; top: 0px; }
	#main .navbar ul li ul li { display: block; width: 100%; margin-left: 0px; }
	#main .search-top { float: none; position: absolute; top: 60px; }
	#main .search-top .search { width: 200px; }
	#main .navbar-toggle { top: 2px; height: 44px; }
	
	
	#main form { padding: 20px; }
	#main .banner .btn { margin-bottom: 30px; }
	.triangle:before { display: none; }
	#main .banner form:after { display: none; }
	#main article ins { position: relative; display: block; }
	.currency { padding-left: 0px; }
	
	.currency table th { font: bold 14px/25px 'Montserrat'; }
	.currency table th span { font: 12px/22px 'Montserrat'; }
	.currency table td:first-child { font: bold 14px/25px 'Montserrat'; padding: 0px 0px 10px 0px; }
	.currency table td { font: 12px/22px 'Montserrat'; padding: 25px 0px; }
	#main .articles .item { height: auto; margin-bottom: 20px; padding-bottom: 30px; }
	#main .articles .item ins { left: 25px; bottom: 0px; }
	#main .articles .item p { height: auto; }
	#main .articles .item span { height: auto; }
	#main footer { background: #182338; }
	
	#main footer .logo { left: 0px; }
	
	#main .news { margin-bottom: 60px; }
	#main .news article p { font: bold 12px/16px 'Montserrat'; }
	#main .news article span { font: 12px/16px 'Montserrat'; height: 80px; }
	#main article a, #main article ins {  font: 12px/16px 'Montserrat'; }
	
	
	.currency .th div, .currency .td div:first-child { font: bold 12px/16px 'Montserrat'; }
	.currency .th span, .currency .td div { font: 12px/16px 'Montserrat'; }
	.currency .td div { padding: 20px 0px; }
	.currency .td div:first-child { padding: 0px 0px 16px; }
	
	#main .currency .slick-arrow { bottom: -50px; margin-right: -15px; }
	
	#main .articles .item ins { margin-right: 50px; }
	#main .plus .container { padding-bottom: 0px; }
	
	#main .video.earth::after, #main .video.earth::before { display: none; }
	
	
	
	#main .exchanges .top { padding: 20px; }
	#main .exchanges .top form { float: none; top: 0px; width: 100% !important; }
	#main .exchanges .top p { margin-bottom: 20px !important; }
	.select2 { width: 100% !important; }
	#main .exchanges ul li .logo-block { display: block; width: 100%; margin-bottom: 15px !important; }
	#main .exchanges ul li p { display: block; width: 100%; margin-bottom: 15px !important; }
	#main .exchanges ul li { padding: 20px 0px 20px; }
	
	#main .mb { margin-bottom: 30px; }
	#main .scroll { display: none; }


}



@media (max-width: 600px) { 
	
	h1 { font: bold 40px/46px 'Montserrat'; } 
	h2 { width: 100%; font: bold 40px/48px 'Montserrat'; }
	.navbar-header { margin-bottom: 0px; }
	header div ul li {  font: 14px/25px 'Montserrat'; }
	.form { width: 100%; margin-top: 30px; }
	header { height: auto; }
	.row { margin: 0px; }
	.plus ul li { min-height: 150px; }
	.btn { width: 100%; }
	.ul { height: auto; }
	.carousel { height: auto; }
	.info div { border-right: 0px; }
	
	.blocks:after { display: none; }
	.blocks { background: #6052a4; min-height: auto; padding-bottom: 40px; }
	.blocks:before { display: none; }
	.blocks p { padding-right: 0px; }
	.work h2 + p { width: 100%; }
	footer .navbar ul { float: none; }
	footer .navbar ul li { display: block; text-align: center; }
	.bottom ul li { margin-bottom: 20px; }
	.work { padding-bottom: 0px; }
	.navbar ul li:last-child { padding-right: 25px; }
	
	.blocks .row div img { display: none; }
	.graph-sm { margin-top: 30px; }
	.form-block { float: none; }
	
	.navbar ul li:last-child { padding-right: 25px; }
	.navbar ul { float: none; }
	.navbar ul li { display: block; }
	
	.blocks .row div img { display: none; }
	
	.navbar-default .navbar-toggle { border: 0px; }
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background: none; }
	
	
	
	.navbar-toggle { width: auto; right: -40px; top: 20px; }
	.navbar-default .navbar-collapse, .navbar-default .navbar-form { border: 0px; }
	.navbar ul { border-bottom: 1px solid #5a38a7; }
	.navbar { margin-right: 0px; }
	.navbar ul:before { display: none; }
	

}