* { margin: 0; padding: 0; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; }

input { outline: none; }


table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

a, a:hover { color: #65B3F0; }
a, a:visited, a:focus, a:active, a:hover, input, input:focus, input:active, input:hover {
    outline:0 none !important;
}

body { background: #fff; position: relative; font: 14px/18px 'Montserrat'; }

header { background: url(../images/bg_header.jpg) center top no-repeat; height: 1056px; }

p { font: 17px/22px 'Montserrat'; color: #646464; }

.logo { position: absolute; left: 0px; top: 35px; }
.logo + span { position: absolute; left: 40px; top: 65px; text-transform: uppercase; color: #2f2886;  font: 700 17px/22px 'Montserrat'; }
.container { max-width: 1400px; position: relative; } 

.navbar { min-height: auto; margin-bottom: 50px; margin-right: -15px; }
.navbar-header { margin-bottom: 55px; width: 100%; }
.navbar ul { float: right; padding: 35px 0px 0px 0px; position: relative; }
.navbar ul:before { width: 100%; height: 1px; display: block; position: absolute; left: 0px; bottom: 0px; content: '';
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbddfb+0,5a38a7+100 */

background: #dbddfb; /* Old browsers */

background: -moz-linear-gradient(left,  #dbddfb 0%, #5a38a7 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(left,  #dbddfb 0%,#5a38a7 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to right,  #dbddfb 0%,#5a38a7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbddfb', endColorstr='#5a38a7',GradientType=1 ); /* IE6-9 */


}
.navbar ul li { display: inline-block; vertical-align: middle; font: 15px/18px 'Montserrat'; text-align: center; padding: 0px 25px 15px; }
.navbar ul li a { /*color: #2f2886;*/ color: inherit; }
.navbar ul li:last-child { padding-right: 0px; }

h1 { color: #2f2886; font: bold 50px/58px 'Montserrat'; text-transform: uppercase; margin-bottom: 20px; }
h2 { color: #2f2886; font: bold 50px/58px 'Montserrat'; margin-bottom: 50px; width: 50%; padding-left: 15px; }

header p { color: #2f2886; font: bold 18px/25px 'Montserrat'; margin-bottom: 40px; }
header div ul li { color: #969696; font: 18px/25px 'Montserrat'; margin-bottom: 5px; list-style-type: disc; }
header div ul { margin-bottom: 35px; }

.btn { background: #f3ba2d; width: 290px; text-align: center; border: 0px; border-radius: 0px; padding: 10px 0px; color: #fff; font: 500 18px/25px 'Montserrat'; }

.block { padding: 60px 0px; }
.link { padding: 60px 0px 30px 0px; background: #675aaa; }
.link p { color: #fff; font: bold 26px/32px 'Montserrat'; margin-bottom: 25px; }

.plus ul li { display: inline-block; vertical-align: top; position: relative; padding: 20px 0px 0px 90px; color: #323232; font: 18px/25px 'Montserrat'; }
.plus ul li span { display: block; font: 14px/18px 'Montserrat'; margin-top: 5px; }
.plus ul li:after { display: block; position: absolute; left: 0px; top: -5px; font: bold 148px/105px 'Montserrat'; color: #9992f0; }
.plus ul li:first-child:after { content: "1"; }
.plus ul li:nth-child(2):after { content: "2"; left: -10px; }
.plus ul li:nth-child(3):after { content: "3"; left: -10px; }
.plus h2 { padding-left: 0px; }


.plus ul li:before { display: block; content: ""; width: 100px; height: 2px; background: #ded7ed; position: absolute; left: 90px; top: 0px; }

.graph { padding: 50px 0px; }

.ul { background: #fcf9ff url(../images/bg_ul.jpg) center bottom no-repeat; padding-top: 60px; height: 1000px; }
.ul .item { margin-bottom: 50px; padding-left: 60px; position: relative; }
.ul .item p { color: #2f2886; font: bold 18px/22px 'Montserrat'; margin-bottom: 10px; padding-right: 100px; }
.ul .item span { color: #969696; font: 18px/22px 'Montserrat'; }
.ul .item:after { display: block; width: 47px; height: 47px; background: #fff; border-radius: 50%; position: absolute; left: 0px; top: 0px; content: ""; box-shadow: 0px 0px 5px 5px #f2eff4; }
.ul .item:before { display: block; width: 46px; height: 46px; position: absolute; left: 0px; top: 0px; z-index: 100; content: ""; }
.ul .item.icon_1:before { background: url(../images/icons/icon-1.png) left top no-repeat; } 
.ul .item.icon_2:before { background: url(../images/icons/icon-2.png) left top no-repeat; } 
.ul .item.icon_3:before { background: url(../images/icons/icon-3.png) left top no-repeat; } 
.ul .item.icon_4:before { background: url(../images/icons/icon-4.png) left top no-repeat; }
.ul .item.icon_5:before { background: url(../images/icons/icon-5.png) left top no-repeat; }

.ul .item svg { position: absolute; left: 0px; top: 0px; color: #2f2886; z-index: 1003; }
.ul .item .fa-chart-line { left: 13px; top: 13px; }


.text { padding: 60px 0px; }
.text h2 { margin-bottom: 80px; }
.text .item { margin-bottom: 75px; position: relative; }
.text .item p { color: #323232; font: bold 18px/22px 'Montserrat'; margin-bottom: 30px; position: relative; z-index: 100; }
.text .item span { color: #646464; font: 18px/22px 'Montserrat'; display: block; margin-bottom: 30px; }
.text .item:after { display: block; position: absolute; left: -20px; top: -40px; z-index: 10; color: #e0e0e0; font: bold 94px/90px 'Montserrat'; }
.text .item.one:after { content: "1"; }
.text .item.two:after { content: "2"; }
.text .item.three:after { content: "3"; }


.panel-title { position: relative; }
.panel-title span { font: bold 50px/22px 'Montserrat'; color: rgba(234,234,236,0.4); position: absolute; left: 40px; top:  -10px; z-index: 100; }
.panel-group .panel { border-radius: 0px; border: 1px solid #ebebeb; margin-bottom: 25px; box-shadow: none; }
.panel-default > .panel-heading { background: transparent; padding: 0px; }
.panel-title a { /*izmeneno*/
  color: #323232; font: 18px/22px 'Montserrat'; padding: 15px 60px; z-index: 101;
  display: block; background: rgba(255,255,255,0.3); text-decoration: none; position: relative;
}
.panel-title a:hover { text-decoration: none; }
.panel-collapse .panel-body { padding: 15px 60px; color: #646464; font: 18px/22px 'Montserrat'; }
.panel-title a[aria-expanded="true"] { background: #2f2886; color: #fff; z-index: 101; }

.panel-title a:before { display: block; width: 13px; height: 8px; content: ""; position: absolute; right: 20px; top: 23px; background: url(../images/arrow-bottom.svg) 0px 0px no-repeat; }
.panel-title a[aria-expanded="true"]:before { background: url(../images/arrows.png) -2px -1px no-repeat; }

.work { padding: 60px 0px; }
.work h2 { margin-bottom: 20px; }
.work h2 + p { width: 45%; font: 17px/22px 'Montserrat'; margin-bottom: 50px; padding-left: 15px; }
.work .item p { color: #2f2886; font: bold 18px/22px 'Montserrat'; margin-bottom: 10px; }
.work .item span { font: 18px/22px 'Montserrat'; display: block; margin-bottom: 30px; }
.work .item { margin-bottom: 70px; }
.work .item img { margin-bottom: 10px; }
.work .item .img, .img { border: 15px solid #fff; box-shadow: 0px 0px 5px 5px #eeeeee; display: block; margin-bottom: 30px; }
.h { text-align: center; margin-bottom: 25px; color: #2f2886; font: bold 28px/28px 'Montserrat'; }

blockquote { font: italic 17px/22px 'Montserrat'; padding: 0px 35px 0px 25px; }

.about h2 { margin-bottom: 30px; }
.about { padding: 60px 0px; }
.about p { font: 17px/22px 'Montserrat'; color: #646464; }

.bottom { background: #675aaa; padding: 40px 0px; }
.bottom ul li { display: inline-block; vertical-align: top; padding: 0px 50px; color: #fff; font: 17px/22px 'Montserrat'; text-align: center; position: relative; }
.bottom ul li span { font: bold 17px/22px 'Montserrat'; display: block; }
.bottom ul li img { position: absolute; z-index: 100; }
.bottom ul li:first-child img { top: 16px; left: 30px; }
.bottom ul li:nth-child(2) img { top: 3px; left: 19px; }
.bottom ul li:last-child img { top: 25px; left: 30px; }
.bottom ul li ins { display: inline-block; width: 100px; height: 100px; content: ''; background: #4c4199; border-radius: 50%; z-index: 1; position: relative; margin-bottom: 30px; text-align: center; }

footer { background: #2f2756; padding: 20px 0px; }
footer .navbar ul { border-bottom: 0px; padding-top: 20px; float: none; text-align: center; }
footer .navbar ul li a { color: #fff; }
footer .navbar { margin-bottom: 0px; }
footer .navbar ul:before { display: none; }

.form-block { float: right; }
.form { width: 390px; background: #55469b; padding: 40px; text-align: right; }
.form a { color: #fff; font: 14px/16px 'Montserrat'; text-decoration: underline; margin-bottom: 15px; display: inline-block; }
.form input { display: block; margin-bottom: 15px; text-align: left; }
input[type="text"] { border: 1px solid #6c5fa8; border-radius: 0px; background: #5c4e9f; font: lighter 18px/22px 'Montserrat'; height: 55px; padding-left: 20px; color: #fff; }
button { border-radius: 0px; background: #755d85; border: 1px solid #f3ba2d; color: #f3ba2d; text-align: center; font: bold 18px/22px 'Montserrat'; height: 55px; width: 100%; margin-top: 30px; }

.blocks { min-height: 370px; position: relative; margin-bottom: 70px; }
.blocks p { color: #fff; padding-right: 80px; font: 17px/20px 'Montserrat'; margin-bottom: 10px; }
.blocks:after { display: block; content: ""; width: 50%; background: #6355a6; position: absolute; left: 0px; top: 0px; z-index: 10; min-height: 375px; }
.blocks:before { display: block; content: ""; width: 50%; background: #ecf3ff; position: absolute; right: 0px; top: 0px; z-index: 10; min-height: 375px; }
.blocks .container { z-index: 100; }

.video { margin-bottom: 90px; }
.video span { font: 14px/18px 'Montserrat'; }
.video div img { display: block; }
.video div { box-shadow: 10px 10px 10px 0px #b9b8c6; margin-bottom: 10px; background: url(../images/video.jpg) left top no-repeat; width: 100%; height: 320px; position: relative; }
.video div a { display: block; position: relative; }
.video div a:before { display: block; width: 160px; height: 195px; background: url(../images/icons/play-button.svg) left top no-repeat; background-size: cover; position: absolute; left: 50%; top: 50px; content: ""; margin-left: -80px; }


.carousel { background: #6456a8 url(../images/bg_carousel.png) center top no-repeat; height: 470px; padding: 40px 0px; }
.carousel h2 { color: #fff; margin-bottom: 30px; }
.carousel .item p { text-align: center; color: #30d709; font: bold 17px/18px 'Montserrat'; text-transform: uppercase; margin-bottom: 20px; }
.carousel .item span { display: block; text-align: center; color: #fff; font: 17px/18px 'Montserrat'; margin-bottom: 5px; }

.owl-nav div { display: block; width: 54px; height: 54px; border-radius: 50%; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d17ef+0,1a0578+100 */

background: #7d17ef; /* Old browsers */

background: -moz-linear-gradient(left,  #7d17ef 0%, #1a0578 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(left,  #7d17ef 0%,#1a0578 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to right,  #7d17ef 0%,#1a0578 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d17ef', endColorstr='#1a0578',GradientType=1 ); /* IE6-9 */

 text-indent: -9999px; position: absolute; top: 15px; box-shadow: 0px 0px 5px 3px #482c99; }
.owl-nav div.owl-prev { left: -50px; }
.owl-nav div:before { display: block; width: 8px; height: 14px; content: ''; position: absolute; top: 19px; }
.owl-nav div.owl-prev:before { background: url(../images/arrow-left-right.png) left top no-repeat; left: 20px; }
.owl-nav div.owl-next { right: -50px; }
.owl-nav div.owl-next:before { background: url(../images/arrow-left-right.png) -10px top no-repeat; left: 25px; }


.info { position: relative; }
.info div:before { width: 100%; height: 1px; background: #8176b7; display: block; content: ''; position: absolute; left: 0px; bottom: -30px; }
.info div { position: relative; text-align: center; padding: 30px 0px 25px; margin-bottom: 70px; border-right: 1px solid #8176b7; }
.info div:last-child { border-right: 0px; }
.info div p { color: #fff; font: bold 22px/24px 'Montserrat'; margin-bottom: 25px; }
.info div span { color: #fff; font: 22px/24px 'Montserrat'; position: relative; }
.info .course span:before { background: url(../images/icons/icon-11.png) left top no-repeat; width: 28px; height: 19px; display: block; content: ''; position: absolute; left: -40px; top: 5px; }
.info .summary span:before { background: url(../images/icons/icon-12.png) left top no-repeat; width: 15px; height: 20px; display: block; content: ''; position: absolute; left: -30px; top: 3px; }
.info .trade span:before { background: url(../images/icons/icon-13.png) left top no-repeat; width: 16px; height: 20px; display: block; content: ''; position: absolute; left: -30px; top: 3px; }

label.error { color: red; display: block; text-align: center; margin-bottom: 10px; }
input.error { border: 1px solid red; }


.navbar-default { background: none; border: 0px; }
.navbar-header { margin-bottom: 0px; }
.navbar-collapse, .container-fluid { margin-right: 0px; padding-right: 0px; }

.copy { font: 12px/18px 'Montserrat'; text-align: center; margin: 15px 0px 20px 0px; }
.copy a { color: #fff; text-decoration: underline; }


#main header { background: #3a329c url(../images/main/bg_header.jpg) center top no-repeat; height: 990px; }
#main.buy header { background: #3a329c url(../images/main/bg_header_buy.jpg) center top no-repeat; height: 990px; }
#main.trading header { background: url(../images/main/bg_header_trading.jpg) center top no-repeat; height: 990px; }
#main.mining header { background: url(../images/main/bg_header_mining.jpg) center top no-repeat; height: 990px; }
#main.cards header { background: url(../images/main/bg_header_cards.jpg) center top no-repeat; height: 990px; }
#main.itemcard header { background: #ffffff url(../images/main/bg_header_itemcard-2.jpg) center top no-repeat; height: 940px; }
#main.group-cards header { background: #ffffff url(../images/main/bg_header_groupcards.jpg) center top no-repeat; height: 940px; }
#main.blog header {background: url(../images/main/bg_header_blog.jpg) center top no-repeat; height: 840px;}
#main.text-page header { background: #4037b9; height: auto; padding-bottom: 90px; }
#main.text-page header p { color: #fff; }


#main.blog header .banner h1{padding-top: 50px;}

#main p { margin-bottom: 20px; font: 17px/22px 'Montserrat'; color: #646464; }
#main header { position: relative; }
#main .navbar { margin-bottom: 80px; }
#main .navbar ul { float: none; }
#main .navbar ul:before { display: none; }
#main .navbar ul li { color: #c5c3e2; font: 16px/24px 'Montserrat'; position: relative; border-bottom: 1px solid #4841a3; padding: 10px 35px 10px 20px; border-top: 1px solid transparent; border-left: 1px solid  transparent; border-right: 1px solid  transparent; display: block; float: left; }
#main ul li.dropdown-li:before { width: 10px; height: 6px; display: block; content: ""; background: url(../images/main/arrows.png) left -8px no-repeat; position: absolute; right: 13px; top: 20px; }
#main ul li.dropdown-li:hover:before { width: 10px; height: 6px; display: block; content: ""; background: url(../images/main/arrows.png) left 0px no-repeat; position: absolute; right: 13px; top: 20px; }
#main .navbar ul li.dropdown-li:hover { border: 1px solid #4841a3; border-bottom: 1px solid #3c35a1; color: #fff; }
#main .navbar ul li.dropdown-li:last-child ul { right: 0px !important; left: auto; }
#main .navbar ul li ul { display: none; position: absolute; background: #3c35a1; border: 1px solid #4e47a6; border-top: 0px; z-index: 1000; top: 45px; left: -1px; padding: 10px 30px 20px 0px; -moz-column-count: 2; /* Для Firefox */
    -webkit-column-count: 2; /* Для Safari и Chrome */
    column-count: 2; }
#main .navbar ul li ul li { display: inline-block; width: 100%; font: 16px/24px 'Montserrat'; color: #fff; text-align: left; list-style-type: disc; margin: 0px 20px 0px 20px; padding: 10px 0px; float: none; }
#main .navbar ul li ul li a { color: #fff; text-decoration: none; display: block;  }
#main .navbar ul li:hover ul { display: block; }

#main a:hover { text-decoration: underline; }
#main h1 { color: #fff; font: 500 46px/54px 'Montserrat'; text-transform: none; }
#main .banner ul { margin: 0px 0px 50px 20px; }
#main .banner ul li { color: #c5c3e2; font: 22px/32px 'Montserrat'; margin-bottom: 15px; list-style-type: disc; }
#main .banner .btn { background: #00acec; color: #fff; padding: 20px 50px; text-transform: uppercase; }
#main .banner .btn:hover { background: #fff; color: #00acec; text-decoration: none; }
#main.blog header .btn{width: auto;}

#main .banner form {  box-shadow: 6px 6px #b0acd7, 12px 12px #6059af; }
#main .banner form.border-form, form.border-form { box-shadow: none; border: 1px solid #e5e5e5; }
#main .banner form.border-form:after, form.border-form:after { display: none; }

#main .banner form:after { display: block; width: 20px; height: 20px; border-radius: 50%; background: #fff; border: 7px solid #2f23cb; position: absolute; bottom: -60px; content: ""; left: 50%; }

.triangle:before {
  display: inline-block;   
  transform: scaleX(2.0);
content: "▼";	
  color: #fff;
  text-shadow: 
    4px 4px #b0acd7, 
    8px 9px #6059af;
  font-size: 16px;
	position: absolute;
	bottom: -14px;
}

#main form { background: #fff; padding: 50px; text-align: center; position: relative; }
#main form p { color: #352d97; font: bold 20px/30px 'Montserrat'; margin-bottom: 5px; }
#main form span { color: #352d97; font: 14px/24px 'Montserrat'; margin-bottom: 30px; display: block; }
#main .sub form { padding: 0px; }

#main input[type="text"], #main input[type="password"] { border: 1px solid #dedcec; border-radius: 0px; background: #f6f6fa; font: lighter 18px/22px 'Montserrat'; height: 55px; padding-left: 20px; color: #2f2886; margin-bottom: 10px; text-align: center; }
#main button { border: 0px;  background: #2f2886; color: #fff; margin-top: 0px; }
#main button:hover { background: #00acec; color: #fff; }
#main input + button { margin-top:  30px; }

#main h2 { color: #2f2886; font: bold 35px/40px 'Montserrat'; width: 100%; padding-left: 0px; }
#main h3 { color: #323232; font: bold 24px/35px 'Montserrat'; margin-bottom: 30px; }
.cards h1 { padding-top: 100px; }

#main .about { background: #f1f1f1 url(../images/main/bg_about.jpg) center top no-repeat; }
#main .link_transform { text-transform: uppercase; color: #323232; font: 17px/22px 'Montserrat'; position: relative; z-index: 999; text-decoration: none; border-bottom: 1px solid #323232; }
#main .link_transform:hover { text-decoration: none; }
#main .plus { position: relative; }
#main .plus .row { margin-bottom: 90px; }
#main .plus .container { border-left: 1px solid #fafafa; padding: 60px 0px 60px 0px; border-right: 1px solid #fafafa; position: relative; }
#main .plus .container:before { position: absolute; left: 25%; top: 0px; height: 100%; display: block; content: ''; width: 1px; background: #fafafa; z-index: 10; }
#main .plus .container:after { position: absolute; left: 51%; top: 0px; height: 100%; display: block; content: ''; width: 1px; background: #fafafa; z-index: 10; }
#main .plus .container div { position: relative; z-index: 100; }
#main .plus:after { position: absolute; left: 75%; top: 0px; height: 100%; display: block; content: ''; width: 1px; background: #fafafa; z-index: 10; }

#main .bg_blue { background: #f5faff; padding: 60px 0px 80px; }
#main .news { position: relative; }
#main .news article { margin-bottom: 40px; position: relative; padding-left: 70px; height: 190px; }
#main .news article p { font: bold 18px/24px 'Montserrat'; margin-bottom: 10px; }
#main .news article span { font: 17px/22px 'Montserrat'; margin-bottom: 15px; height: 70px; overflow: hidden; }
#main .news article:before { display: block; position: absolute; left: 0px; top: 0px; width: 47px; height: 47px; content: ""; }
#main .news article.icon_bch:before { background: url(../images/main/icons_news.png) left top no-repeat; background-size: cover; }
#main .news article.icon_eth:before { background: url(../images/main/icons_news.png) left -47px no-repeat; background-size: cover; }
#main .news article.icon_crpt:before { background: url(../images/main/icons_news.png) left -94px no-repeat; background-size: cover; }


#main article p, #main article p a { color: #343434; font: bold 18px/26px 'Montserrat'; margin-bottom: 20px; text-decoration: none; }
#main article span, #main article span a { font: 17px/22px 'Montserrat'; color: #646464; display: block; margin-bottom: 25px; text-decoration: none; }
#main article a { color: #3e3f3f; font: 17px/22px 'Montserrat'; text-decoration: underline; }
#main article a:hover { text-decoration: none; }
#main article ins { font: 17px/22px 'Montserrat'; color: #646464; text-decoration: none; float: right; }

#main .map { background: #5250bd url(../images/main/bg_map.jpg) center top no-repeat; }
#main .map h2 { color: #fff; }

#main .articles .item { background: #fff; height: 500px; overflow: hidden; }
#main .articles .item img { margin-bottom: 25px; }
#main .articles .item p, #main .articles .item span { padding: 0px 25px; }
#main .articles .item p { height: 50px; overflow: hidden; }
#main .articles .item span { overflow: hidden; height: 85px; }
#main .articles .item span + a { margin-left: 25px; }
#main .articles .item ins { margin-right: 25px; bottom: 33px; }
#main footer { background: url(../images/main/bg_footer.jpg) center top no-repeat; padding: 30px 0px 50px 0px; background-size: cover;}
#main footer div p { color: #fff; font: bold 17px/25px 'Montserrat'; margin-bottom: 15px; }
#main footer div p ins { text-decoration: none; color: #aca5ff; }
#main footer div ul { margin-bottom: 30px; }
#main footer div ul li a { color: #cdced0; font: 17px/28px 'Montserrat'; text-decoration: none; }


#main .sub { background: url(../images/main/bg_sub.jpg) center top no-repeat; }
#main .sub form p { font: bold 35px/40px 'Montserrat'; }
#main .sub form { background: none; }

#main .line-1 { display: none; position: absolute; left: 0px; top: 270px; background: url(../images/main/main-left-img-8.png) left top no-repeat; width: 287px; height: 300px; }

#main .line-2 { display: none; position: absolute; left: 0px; top: 1300px; background: url(../images/main/main-left-img-9.png) left top no-repeat; width: 324px; height: 450px; }

#main .line-3 { display: none; position: absolute; right: 0px; top: 660px; background: url(../images/main/main-right-img-10.png) left top no-repeat; width: 315px; height: 560px; }

#main .video { position: relative; margin-bottom: 0px; }
#main .video .time { font: 18px/25px 'Montserrat'; color: #323232; display: block; margin-top: 25px; }
#main .video:before { background: url(../images/main/macbook.png) left top no-repeat; background-size: cover; width: 600px; height: 506px; display: block; left: 0px; top: 0px; content: ""; position: absolute; }


#main .video.earth::before { display: block; background: none; border: 1px solid #d1cfe9; width: 410px; height: 410px; border-radius: 50%; left: 74px; top: -20px; }

#main .video.earth::after { display: block; background: none; border: 1px solid #d1cfe9; width: 470px; height: 470px; border-radius: 50%; left: 44px; top: -50px; content: ""; position: absolute; }

#main .video.earth img { position: relative; z-index: 999; margin: 20px 0px 0px 0px; }

#main .video .area { width: 415px; height: 260px; box-shadow: none; position: relative; left: 93px; top: 39px; background: none; margin-bottom: 90px; }
#main .video .area a.play { background: url(../images/main/icon-play.png) left top no-repeat; width: 69px;  height: 69px; display: block; position: absolute; left: 50%; top: 100px; margin-left: -35px; }
#main .video .area a.play:before { display: none; }

.currency { padding-left: 50px; }
.currency .currency-table, .currency-js { width: 100%; }
.currency-js{padding-bottom: 40px;}
.currency-js .slick-list { height: 570px; overflow: hidden; }
.currency .td { border-bottom: 1px solid #eff4f8 !important; display: block; }
.currency .td div { padding: 30px 0px; text-align: right; color: #b0b2b5; font: 16px/22px 'Montserrat'; vertical-align: middle; display: inline-block; }
.currency .th div { padding: 0px 0px 20px 0px; border-bottom: 1px solid #eff4f8; color: #484949; font: bold 18px/25px 'Montserrat'; text-align: right; display: inline-block; }
.currency .th div:first-child { text-align: left; }
.currency .th span { color: #a7aaad; font: 16px/22px 'Montserrat'; display: block; }
.currency .td span.up { color: #27b850; }
.currency .td span.up:before { display: block; content: "↑"; color: #27b850; font: bold 17px/16px 'Montserrat'; position: absolute; top: 0px; right: 3px;  }

.currency .td span.down, .currency .td span.up { font-weight: bold; position: relative; padding-right: 20px; }
.currency .td img { margin-right: 15px; position: relative; top: 8px; display: inline-block !important; }
.currency .td span.down { color: #bb3435; }
.currency .td span.down:before { display: block; content: "↓"; color: #bb3435; font: bold 17px/16px 'Montserrat'; position: absolute; top: 0px; right: 3px;  }

.currency .td div:first-child { color: #484949; font: bold 18px/25px 'Montserrat'; text-align: left; width: 50%; }



#main .logo { position: relative; margin-bottom: 30px; }
#main header .logo { float: left; }
#main header .logo p { display: inline-block; margin-left: 15px; }
#main .logo p { font: bold 20px/20px 'Montserrat'; color: #fff; }
#main .logo p span { text-transform: uppercase; font: 16px/16px 'Montserrat'; color: #fff; display: block; }

#main .footer-bottom .logo p { font: bold 22px/26px 'Montserrat'; color: #fff; }

#main .footer-bottom { border-top: 1px solid #1e283d; padding: 10px 0px 0px; margin-top: 10px; }

#main .footer-bottom .soc { padding-top: 30px; }
#main .footer-bottom p { font: 17px/22px 'Montserrat'; }

#main .soc a { display: inline-block; width: 26px; height: 29px; margin-right: 10px; }
#main .soc a.telegram { background: url(../images/main/icon-soc.png) -5px top no-repeat; }
#main .soc a.fb { background: url(../images/main/icon-soc.png) -49px top no-repeat; }
#main .soc a.tw { background: url(../images/main/icon-soc.png) -92px top no-repeat; }

#main .search input[type="text"] { border: 1px solid #30394c; background: transparent; height: 40px; padding: 0px 15px; text-align: left; font: 14px/20px 'Montserrat'; color: #fff; }
#main .search { background: none; padding: 0px; text-align: left; width: 250px; margin-top: 33px; display: inline-block; }

#main .search input[type="text"]::-moz-placeholder { color: #C7C7C7 !important; }
#main .search input[type="text"]::-webkit-input-placeholder { color: #C7C7C7 !important; }
#main .search input[type="text"]:-ms-input-placeholder { color: #C7C7C7 !important; }
#main .search input[type="text"]::-ms-input-placeholder { color: #C7C7C7 !important; }
#main .search input[type="text"]::placeholder { color: #C7C7C7 !important; }

#main .search-btn { border: 0px; background: transparent url(../images/main/icon-search.png) left top no-repeat; display: block; width: 20px; height: 20px; position: absolute; right: 18px; top: 10px; }


#main .soc-left { position: absolute; left: 110px; top: 310px; display: none; }
#main .soc-left li { display: block; width: 33px; height: 28px; background: url(../images/main/icon-octagon.png) left top no-repeat; margin-bottom: 15px; text-align: center; padding: 0px 0px 0px 2px; opacity: 0.7; }
#main .soc.soc-left li a { width: 21px; height: 25px; background-size: cover; position: relative; }
#main .soc.soc-left li:hover { opacity: 1; }
#main .soc.soc-left li a.telegram { left: 5px; top: 2px;}
#main .soc.soc-left li a.fb { top: 2px; background-position: -28px 0px; }
#main .soc.soc-left li a.tw { top: 2px; left: 3px; background-position: -62px 0px; }

#main .lang {
  float: right; border: 1px solid #4e47a6; padding: 0; 
  margin: 30px 0px 0px 0px; position: relative; 
  z-index: 1100; width: 100px;
}
#main .lang li { list-style-type: none; position: relative; padding: 8px 0 0 12px;}
#main .lang li ul { display: none; }
#main .lang li:hover ul {
  display: block; position: absolute; top: -1px; left: -1px; border: 1px solid #4e47a6; 
  padding: 0; background: #3A319C;width: 100px;
}
#main .lang li.dropdown-li:hover { cursor: pointer; }
#main .lang li.dropdown-li:hover a { text-decoration: none; }
#main .lang li.dropdown-li:hover li a { color: #e1e0ee; }
#main .lang li.dropdown-li:hover li:hover a { color: #fff; }
#main .lang li.dropdown-li:before { right: 12px; top: 16px; }
#main .lang a { color: #fff; font: 16px/24px 'Montserrat'; position: relative; text-transform: uppercase; }

#main .search-top form { display: block; margin-top: 0px; right: 0px; top: 0px; margin-bottom: 0px; }
#main .search-top form input[type="text"] { border: 1px solid #4e47a6; padding-right: 42px;}
#main .search-top { float: right; margin: 30px 20px 0px 0px; position: relative; z-index: 1100; }

#main .white input[type="text"]::-moz-placeholder { color: #fff; }
#main .white input[type="text"]::-webkit-input-placeholder { color: #fff; }
#main .white input[type="text"]:-ms-input-placeholder { color: #fff; }
#main .white input[type="text"]::-ms-input-placeholder { color: #fff; }
#main .white input[type="text"]::placeholder { color: #fff; }



#main .modal-content { border-radius: 0px; background: #f3f4fa url(../images/main/bg_modal-end.jpg) center top no-repeat; background-size: cover; text-align: center; padding: 20px 0px; }
#main .modal-content.end p { color: #0d22a0; font: bold 24px/30px 'Montserrat'; margin-bottom: 20px; }


#main .slick-arrow { background: none; width: 37px; height: 37px; display: block; border: 1px solid #b1aaff; border-radius: 50%; text-indent: -9999px; position: absolute; bottom: -20px; text-align: center; color: #454090; font: bold 24px/30px 'Montserrat'; }

#main .news .slick-list { height: 670px !important; overflow: hidden; }
#main .slick-prev { right: 60px; display: block; background: url(../images/main/arrows-btn.png) 11px -10px no-repeat; }
#main .slick-next { right: 0px; background: url(../images/main/arrows-btn.png) 11px 14px no-repeat; }

#main .top-menu { position: fixed; right: 120px; top: 340px; display: none; z-index: 1001; }
#main .top-menu li a { color: #fff; display: block; width: 33px; height: 28px; background: url(../images/main/icon-octagon.png) left top no-repeat; margin-bottom: 15px; text-align: center; padding: 0px 0px 0px 2px; opacity: 0.5; font: 17px/28px 'Montserrat'; }
#main .top-menu li a.active { opacity: 1; }


#main .exchanges .top { background: #f8f8f8; border: 1px solid #e6e6e6; padding: 40px 50px; }
#main .exchanges .top p { margin-bottom: 0px !important; font: 16px/18px 'Montserrat' !important; display: inline-block; }
#main .exchanges .top form { float: right; margin-top: 0px !important; position: relative; top: -10px; }
#main .exchanges .top form input[type="text"] { border: 1px solid #f0f0f0; background: #ffffff; color: #7d7d7d; }

#main .exchanges .top form .search-btn { background: transparent url(../images/main/icon-search.png) left -29px no-repeat; }

#main .exchanges ul li { padding: 30px 30px; border-bottom: 1px solid #f5f5f5; width: 100%; }
#main .exchanges ul li:last-child { border-bottom: 0px; }
#main .exchanges ul li:hover { box-shadow: 0px 0px 10px 10px #f5f5f5; }
#main .exchanges ul li p { display: inline-block; vertical-align: middle; width: 40%; font: 14px/18px 'Montserrat' !important; padding: 0px 10px 0px 50px; margin-bottom: 0px !important; position: relative; }
#main .exchanges ul li .logo-block { display: inline-block; width: 20%; vertical-align: middle; text-align: center; }

#main .exchanges ul li div.link { text-align: center; margin: 10px 0px 0px 0px; background: none; padding: 0px; }

#main p.icon_minus:before, #main p.icon_plus:before { position: absolute; left: 0px; top: 0px; width: 36px; height: 36px; display: block; content: ''; }
#main p.icon_minus, #main p.icon_plus { padding-left: 50px; position: relative; /* min-height: 54px; */}
#main p.icon_minus:before { background: url(../images/main/icon_minus-plus.png) left -42px no-repeat; }
#main p.icon_plus:before { background: url(../images/main/icon_minus-plus.png) left 0px no-repeat; }
#main .mb { margin-bottom: 90px; }
#main .mb:last-child { margin-bottom: 0px; }


.ui-menu-item { border-bottom: 1px solid #f4f4f4; padding: 10px 0px; }
.ui-menu { background: #fff; border: 1px solid #f0f0f0; padding: 0px 10px; display: inline-block; }
.ui-helper-hidden-accessible { display: none; }

#main .select-block { background: none; padding: 0px; }
#main .select-block span { margin-bottom: 0px !important; }

.ulcards ul li{
  vertical-align: top;
  margin-bottom: 40px;
}
.ulcards ul li img{
  display: block;
  margin-bottom: 10px;
}
.ulcards ul li span.name-card{
  display: inline-block;
  margin-bottom: 25px;
  width: 195px;
  text-align: center;
  color: #fff;
  font: 17px/28px 'Montserrat';
}

.select2-container--default .select2-selection--single { border: 1px solid #f0f0f0 !important; border-radius: 0px !important; text-align: left; padding: 5px 10px !important; height: auto !important; }
.select2-selection__arrow { display: none !important; }
.select2 { width: 290px !important; }
.select2-dropdown { border: 1px solid #f0f0f0 !important; }
.select2-search { display: none !important; }
.select2-results__option { padding-left: 20px !important; position: relative; padding: 10px 20px 10px 10px !important;  border-bottom: 1px solid #f0f0f0 !important; }
.select2-results__option img { position: relative; top: 2px; }


#main .search-results { position: absolute; border: 1px solid #f0f0f0 !important; left: 0px; top: 38px; background: #fff; width: 100%; z-index: 999; }
#main .search-results li { padding: 10px 20px 10px 10px !important; border-bottom: 1px solid #f0f0f0; }
#main .search-results li img { position: relative; top: 2px; }
#main .search-results li:hover { box-shadow: none !important; background: #2f2886; color: #fff; }
#main .search-results li:hover a { text-decoration: none; color: #fff; }

#main .scroll { position: absolute; left: 50%; bottom: 50px; }

.itemcard header h1 { position: relative; z-index: 40;}
.itemcard header img.img-card { position: relative; top: -60px; left: -20px; max-width: 551px;height: 430px;z-index: 30;}
.itemcard header img.img-btn { position: relative; top: -50px; left: 30px; z-index: 35;}
.itemcard header form { margin-top: 50px; }

.bonuses { background: #f9f9f9 url(../images/main/bg_bonuses.jpg) center bottom no-repeat; min-height: 590px; text-align: center; margin-bottom: 160px; }

.bonuses .row { position: relative; }
.bonuses ul li { text-align: left; }
.bonuses ul li ins { text-decoration: none; font: bold 18px/28px 'Montserrat'; color: #323232; border-bottom: 1px solid #c7c7c7; padding-bottom: 10px; margin-bottom: 20px; display: inline-block; }


#main .bonuses .buy-phone { background: url(../images/main/bg_iphone.png) center top no-repeat; width: 779px; height: 408px; position: absolute; top: 270px; left: 50%; margin-left: -380px; text-align: center; }

#main .bonuses .buy-phone p { color: #fff; font: bold 22px/28px 'Montserrat'; padding: 80px 0px 25px 0px; }
#main .bonuses .buy-phone .btn { background: #fff; color: #4138c2; }


.bg-table-violet { background: #3d34af; text-align: center; }
#main .bg-table-violet h2 { color: #fff; }
#main .bg-table-violet h2 a { color: #fff; text-decoration: underline; }

.table-white { border: 0px; }
.table-white td:first-child { text-align: left; }
.table-white td { text-align: center; padding: 20px 30px !important; border: 1px solid #524abd; color: #fff; font: 16px/28px 'Montserrat'; }
.table-white th { text-align: center; padding: 20px 30px !important; color: #8f8bd9; font: 14px/28px 'Montserrat'; border: 1px solid #524abd !important; }
.table-white tr:nth-child(2n) td { background: #4037ba; }

.bg-table-violet .table th { background: #4941c7; }

.block-icon-top li { display: inline-block; vertical-align: top; width: 49%; position: relative; z-index: 100; }
.block-icon-top ul { margin-bottom: 50px; }
.block-icon-top h2 { position: relative; z-index: 100; }
.block-icon-top li p { color: #acacac; height: 75px; overflow: hidden; }
.block-icon-top li img { margin-bottom: 15px; }
.block-icon-top .row div { position: relative; }
.block-icon-top .row div:first-child ul { border-right: 1px solid #f7f7f7; }
.block-icon-top .row div:first-child:after { content: "+"; display: block; position: absolute; left: -90px; top: 20px; font: bold 360px/28px 'Montserrat'; color: #f7f7f7; z-index: 10; }
.block-icon-top .row div:last-child:after { content: "-"; display: block; position: absolute; left: -90px; top: 5px; font: bold 360px/28px 'Montserrat'; color: #f7f7f7; z-index: 10; }

#main .btn-default-dark { background: #3f36b0; color: #fff; border: 1px solid #3f36b0; } 
#main .btn-default-dark:hover { color: #3f36b0; background: #fff; border: 1px solid #3f36b0; text-decoration: none;  }

#main .green-yes { color: #39c5b9; font-size: 26px; }

#main .table_mobile { display: none; }

#main .transform { -webkit-transform: rotate(7deg);
-moz-transform: rotate(7deg);
-o-transform: rotate(7deg);
-ms-transform: rotate(7deg);
transform: rotate(7deg); text-shadow: -20px -20px 10px rgba(0,0,0,0.3); text-transform: uppercase; font: bold 38px/48px 'Montserrat'; letter-spacing: 3px; }

#main.itemcard h1 ins { text-decoration: none; font: bold 46px/48px 'Montserrat'; }
#main h2.transform { text-align: center; margin-bottom: 0px; font: bold 30px/48px 'Montserrat'; letter-spacing: 1px; position: relative; top: 20px; left: 20px; }

#main .item-graph { background: #fff url(../images/main/bg_graph.jpg) center bottom no-repeat; min-height: 840px; }

#main.group-cards .banner img { margin-bottom: 30px; }

#main .partners-btn { background: #3830b7; text-align: center; }
#main .partners-btn h2 { color: #fff; }
#main .partners-btn .btn { background: #11bae5; }
#main .partners-btn .btn:hover { text-decoration: none; background: #2f2886; }

#main .desc-bocks div { background: #fff; text-align: center; padding: 40px 30px; }
#main .desc-bocks div p { color: #323232; font: bold 16px/20px 'Montserrat'; }
#main .desc-bocks div img { margin-bottom: 15px; }
.bg-grey { background: #f5f5f5; }

#main .btn-default-border { border: 1px solid #2f2886; color: #2f2886; background: #fff; }
#main .btn-default-border:hover { text-decoration: none; background: #2f2886; color: #fff; }

#main .partners-text { background: url(../images/main/about-img.jpg) center bottom no-repeat; height: 460px; }

#main .text-white { color: white; }

#main.text-page .banner .text-white { padding-top: 50px; }

#main .center .slick-slide { opacity: 0.5; position: relative; z-index: 100; text-align: center; }
#main .center .slick-slide p { display: none; }
#main .center .slick-slide.slick-active p { display: block; margin-bottom: 5px; }
#main .center .slick-slide.slick-active { opacity: 1; position: relative; z-index: 1000; background: url(../images/main/bg-slider-img.png) center top no-repeat; }
#main .center .slick-track { height: 380px; overflow: hidden; }
#main .center .slick-slide img { display: inline-block; margin-bottom: 15px; position: relative; top: 11px; left: 6px; }

#main .center .slick-prev, #main .center .slick-next { width: 43px; height: 43px; display: block; position:absolute; top: 140px; border: 0px; z-index: 1001; }
#main .center .slick-prev { background: url(../images/main/orange-arrows.png) left top no-repeat; left: 70px; }
#main .center .slick-next { background: url(../images/main/orange-arrows.png) -48px top no-repeat; right: 60px; }


#main.blog header .banner h1 { padding-top: 50px; }

#main.blog .articles .item { background: #f7f7ff; margin-bottom: 30px; }

#main .bx-breadcrumb { color: #303030; margin: 40px 0px 30px; }
#main .bx-breadcrumb a { color: #303030; text-decoration: none; margin-right: 10px; }
#main .bx-breadcrumb span { margin-left: 10px; }
#main .bx-breadcrumb a:hover { text-decoration: underline; }

#main .blog-category { text-align: center; background: #f3f3f3; color: #323232; margin-bottom: 20px; }
#main .blog-category a { color: #323232; display: block; padding: 20px 0px; position: relative; }
#main .blog-category ins { text-decoration: none; position: relative; top: -10px; }
#main .blog-category.active a { background: #3455b5; color: #fff; }

#main .pager { margin-bottom: 80px; }
#main .pager a, #main .pager span { padding: 10px 15px; text-align: center; display: inline-block; vertical-align: top; margin: 0px 5px; font: 16px/16px 'Montserrat'; }
#main .pager a { background: #f0f0f0; color: #c4c4c4; }
#main .pager a:hover { background: #554ebf; color: #fff; }
#main .pager span { background: #554ebf; color: #fff; }


#main.blog-item h1 { color: #303030; }
#main.blog-item .h1, #main.blog-item .banner h1{ color: #fff; }
#main.blog-item .text-blog-item p { margin-bottom: 50px; }
#main.blog-item .text-blog-item li { list-style-type: disc; margin-bottom: 20px; font: 16px/20px 'Montserrat'; }
#main.blog-item .text-blog-item ul { margin: 0px 0px 20px 20px; }
#main.blog-item h2 { color: #303030; font: bold 20px/24px 'Montserrat'; margin-bottom: 20px; }
#main.blog-item h3 { color: #303030; font: bold 20px/24px 'Montserrat'; margin-bottom: 20px; }
#main.blog-item .img-right { float: right; margin: 0px 0px 25px 25px; }
#main.blog-item .img-left { float: left; margin: 0px 25px 25px 0px; }

#main.blog-item .text-blog-item .ul { background: #362e9b; padding: 30px; height: auto; width: 60%; margin-bottom: 50px; }
#main.blog-item .text-blog-item .ul li { color: #fff; }
#main.blog-item .text-blog-item .ul p { color: #fff; margin-bottom: 20px; }

#main.blog-item .text-blog-item .ul .col-2 li { display: inline-block; width: 49%; vertical-align: top; }

#main.blog-item .text-blog-item table { margin-bottom: 40px; }
#main.blog-item .text-blog-item table th { background: #362e9b; color: #fff; text-align: center; }
#main.blog-item .text-blog-item table td { background: #fafafa; color: #343434; text-align: left; }
#main.blog-item .text-blog-item table td, #main.blog-item .text-blog-item table th { padding: 15px 30px; }
#main.blog-item .text-blog-item table td:first-child { border-right: 1px solid #e1e1e1; }

#main.blog-item .text-blog-item .block-table { background: #f5f5f5; padding: 20px 0px; margin-bottom: 40px; }
#main.blog-item .text-blog-item .block-table table { margin-bottom: 0px; }

#main .cool { float: right; }
#main .cool p { font: 16px/40px 'Montserrat'; color: #343434; margin-right: 32px; }
#main .cool a { display: inline-block; text-align: center; vertical-align: top; padding: 10px 15px; color: #fff; text-decoration: none; font: 16px/22px 'Montserrat'; margin-left: 15px; width: auto; height: auto; }
#main .cool a.yes { background: #34b68a; }
#main .cool a.no { background: #b63434; }
#main .soc-blog .icon-soc { float: left; padding-top: 10px; }

.modal { z-index: 9999; }
#main .modal .btn { margin: 30px auto 0px; }

.MyPopup{
  position: fixed;top: 0;right: 0;bottom: 0;left: 0;background-color: rgba(0,0,0,0.5);z-index: 9999;
  display: none;
}
.MyPopup.show{display: block;}
  .MyPopup .p-content{
    margin: 0 auto; width: 100%; max-width: 1000px; min-width: 360px; position: relative;
    top: 10%; background: url(../images/th.png) no-repeat 20px center;
    height: 100%; max-height: 500px; min-height: 300px; background-color: #5F50A2;
  }
    .MyPopup .p-content .polovina_right{
      float: right;
      width: 52%;
      min-width: 360px;
      padding-top: 19%;
      text-align: center;
    }
      .MyPopup .p-content .polovina_right p{
        color: #fff;
        font-size: 42px;
        text-align: center;
        font-weight: bold;
        line-height: 56px;
      }
.clearfix{clear: both !important;}

.birja_content li{

}
.birja_content li.hider{
  opacity: 0.5;
}
.birja_content li.shower{
  background: rgba(255, 211, 211, 0.1);
}
.birja_content li.hider img{
  opacity: 0.5
}
.birja_content li.hider *{
  color: #cecece !important;
}

.search_parent{position: relative;z-index: 100;}
  .search_parent .s_content{
    position: absolute; top: 100%;left: 0; right: 0;
    margin: 0; padding: 0; 
    background: rgba(60, 53, 160,0.95);
  }
  .search_parent .s_content li{
    border: 1px solid #4e47a6;
    margin: 0 !important;padding: 0 !important;list-style: none !important;
    border-top: 0 none;
  }
    .search_parent .s_content a{display: block !important;text-decoration: none !important;padding: 5px 10px 9px !important;}
      .search_parent .s_content .l_word{margin: 0 !important;color: #fff !important;}
      .search_parent .s_content .l_page{
        margin: 0 !important;color: #8c8c8c !important;
        font-size: 11px !important; line-height: 11px !important;
      }
    .search_parent .s_content a:hover{
      text-decoration: none !important;
      background-color: rgba(56, 49, 146, 0.8);
    }

/************************NEW ADDED STYLES*******************************************/

#main ul li.dropdown-li a{/*display: inline-block;vertical-align: middle;*/ display: block;}
#main ul li.dropdown-li img{display: inline-block;height: 19px;vertical-align: middle;width: 28px;}
#main ul li.dropdown-li .dp_ul{}
  #main ul li.dropdown-li .dp_ul img{opacity: 0.8;}
  #main ul li.dropdown-li .dp_ul a{color: #c0bfd0;}
  #main ul li.dropdown-li .dp_ul li:hover img{opacity: 1;}
  #main ul li.dropdown-li .dp_ul li:hover a{color: #e3e2f5;}

#main .site-login input[type="text"], #main .site-login input[type="password"] {padding-left: 12px;padding-right: 12px;}

#main .news article .metka {display: block; position: absolute; left: 0px; top: 0px; width: 47px; height: 47px;}
#main .news article .metka img{height: 100%;}

/**************************************************************************************/

@media only screen and (max-width:900px){
    .MyPopup .p-content{background-position: center 120px;background-size: 400px;}
    .MyPopup .p-content .polovina_right{float: none;width: 100%;padding-top: 10px;}
    .MyPopup .p-content .polovina_right p{display: inline-block;margin: 0 5px;}
}


