
* { margin: 0; padding: 0; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; }

input { outline: none; }


table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

a, a:hover { color: #65B3F0; }
a, a:visited, a:focus, a:active, a:hover, input, input:focus, input:active, input:hover {
    outline:0 none !important;
}

body { background: #fff; position: relative; font: 14px/18px 'Montserrat'; }

header { background: url(../images/bg_header.jpg) center top no-repeat; height: 1056px; }

p { font: 17px/22px 'Montserrat'; color: #646464; }

.logo { position: absolute; left: 0px; top: 35px; }
.logo + span { position: absolute; left: 40px; top: 65px; text-transform: uppercase; color: #2f2886;  font: 700 17px/22px 'Montserrat'; }
.container { max-width: 1400px; position: relative; } 

.navbar { min-height: auto; margin-bottom: 50px; margin-right: -15px; }
.navbar-header { margin-bottom: 55px; width: 100%; }
.navbar ul { float: right; padding: 35px 0px 0px 0px; position: relative; }
.navbar ul:before { width: 100%; height: 1px; display: block; position: absolute; left: 0px; bottom: 0px; content: '';
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbddfb+0,5a38a7+100 */

background: #dbddfb; /* Old browsers */

background: -moz-linear-gradient(left,  #dbddfb 0%, #5a38a7 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(left,  #dbddfb 0%,#5a38a7 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to right,  #dbddfb 0%,#5a38a7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbddfb', endColorstr='#5a38a7',GradientType=1 ); /* IE6-9 */


}
.navbar ul li { display: inline-block; vertical-align: middle; font: 15px/18px 'Montserrat'; text-align: center; padding: 0px 25px 15px; }
.navbar ul li a { color: #2f2886; }
.navbar ul li:last-child { padding-right: 0px; }

h1 { color: #2f2886; font: bold 50px/58px 'Montserrat'; text-transform: uppercase; margin-bottom: 20px; }
h2 { color: #2f2886; font: bold 50px/58px 'Montserrat'; margin-bottom: 50px; width: 50%; padding-left: 15px; }

header p { color: #2f2886; font: bold 18px/25px 'Montserrat'; margin-bottom: 40px; }
header div ul li { color: #969696; font: 18px/25px 'Montserrat'; margin-bottom: 5px; list-style-type: disc; }
header div ul { margin-bottom: 35px; }

.btn { background: #f3ba2d; width: 290px; text-align: center; border: 0px; border-radius: 0px; padding: 10px 0px; color: #fff; font: 500 18px/25px 'Montserrat'; }

.block { padding: 60px 0px; }
.link { padding: 60px 0px 30px 0px; background: #675aaa; }
.link p { color: #fff; font: bold 26px/32px 'Montserrat'; margin-bottom: 25px; }

.plus ul li { display: inline-block; vertical-align: top; position: relative; padding: 20px 0px 0px 90px; color: #323232; font: 18px/25px 'Montserrat'; }
.plus ul li span { display: block; font: 14px/18px 'Montserrat'; margin-top: 5px; }
.plus ul li:after { display: block; position: absolute; left: 0px; top: -5px; font: bold 148px/105px 'Montserrat'; color: #9992f0; }
.plus ul li:first-child:after { content: "1"; }
.plus ul li:nth-child(2):after { content: "2"; left: -10px; }
.plus ul li:nth-child(3):after { content: "3"; left: -10px; }
.plus h2 { padding-left: 0px; }


.plus ul li:before { display: block; content: ""; width: 100px; height: 2px; background: #ded7ed; position: absolute; left: 90px; top: 0px; }

.graph { padding: 50px 0px; }

.ul { background: #fcf9ff url(../images/bg_ul.jpg) center bottom no-repeat; padding-top: 60px; height: 1000px; }
.ul .item { margin-bottom: 50px; padding-left: 60px; position: relative; }
.ul .item p { color: #2f2886; font: bold 18px/22px 'Montserrat'; margin-bottom: 10px; padding-right: 100px; }
.ul .item span { color: #969696; font: 18px/22px 'Montserrat'; }
.ul .item:after { display: block; width: 47px; height: 47px; background: #fff; border-radius: 50%; position: absolute; left: 0px; top: 0px; content: ""; box-shadow: 0px 0px 5px 5px #f2eff4; }
.ul .item:before { display: block; width: 46px; height: 46px; position: absolute; left: 0px; top: 0px; z-index: 100; content: ""; }
.ul .item.icon_2:before { background: url(../images/icons/icon-2.png) left top no-repeat; } 
.ul .item.icon_3:before { background: url(../images/icons/icon-3.png) left top no-repeat; } 
.ul .item.icon_4:before { background: url(../images/icons/icon-4.png) left top no-repeat; }
.ul .item.icon_5:before { background: url(../images/icons/icon-5.png) left top no-repeat; }

.ul .item svg { position: absolute; left: 0px; top: 0px; color: #2f2886; z-index: 1003; }
.ul .item .fa-chart-line { left: 13px; top: 13px; }


.text { padding: 60px 0px; }
.text h2 { margin-bottom: 80px; }
.text .item { margin-bottom: 75px; position: relative; }
.text .item p { color: #323232; font: bold 18px/22px 'Montserrat'; margin-bottom: 30px; position: relative; z-index: 100; }
.text .item span { color: #646464; font: 18px/22px 'Montserrat'; display: block; margin-bottom: 30px; }
.text .item:after { display: block; position: absolute; left: -20px; top: -40px; z-index: 10; color: #e0e0e0; font: bold 94px/90px 'Montserrat'; }
.text .item.one:after { content: "1"; }
.text .item.two:after { content: "2"; }
.text .item.three:after { content: "3"; }


.panel-title { position: relative; }
.panel-title span { font: bold 50px/22px 'Montserrat'; color: rgba(234,234,236,0.4); position: absolute; left: 40px; top:  -10px; z-index: 100; }
.panel-group .panel { border-radius: 0px; border: 1px solid #ebebeb; margin-bottom: 25px; box-shadow: none; }
.panel-default > .panel-heading { background: transparent; padding: 0px; }
.panel-title a { color: #323232; font: 18px/22px 'Montserrat'; padding: 15px 60px; display: block; background: #fff; text-decoration: none; position: relative; }
.panel-title a:hover { text-decoration: none; }
.panel-collapse .panel-body { padding: 15px 60px; color: #646464; font: 18px/22px 'Montserrat'; }
.panel-title a[aria-expanded="true"] { background: #2f2886; color: #fff; z-index: 101; }

.panel-title a:before { display: block; width: 13px; height: 8px; content: ""; position: absolute; right: 20px; top: 23px; background: url(../images/arrow-bottom.svg) 0px 0px no-repeat; }
.panel-title a[aria-expanded="true"]:before { background: url(../images/arrows.png) -2px -1px no-repeat; }

.work { padding: 60px 0px; }
.work h2 { margin-bottom: 20px; }
.work h2 + p { width: 45%; font: 17px/22px 'Montserrat'; margin-bottom: 50px; padding-left: 15px; }
.work .item p { color: #2f2886; font: bold 18px/22px 'Montserrat'; margin-bottom: 10px; }
.work .item span { font: 18px/22px 'Montserrat'; display: block; margin-bottom: 30px; }
.work .item { margin-bottom: 70px; }
.work .item img { margin-bottom: 10px; }
.work .item .img, .img { border: 15px solid #fff; box-shadow: 0px 0px 5px 5px #eeeeee; display: block; margin-bottom: 30px; }
.h { text-align: center; margin-bottom: 25px; color: #2f2886; font: bold 28px/28px 'Montserrat'; }

blockquote { font: italic 17px/22px 'Montserrat'; padding: 0px 35px 0px 25px; }

.about h2 { margin-bottom: 30px; }
.about { padding: 60px 0px; }
.about p { font: 17px/22px 'Montserrat'; color: #646464; }

.bottom { background: #675aaa; padding: 40px 0px; }
.bottom ul li { display: inline-block; vertical-align: top; padding: 0px 50px; color: #fff; font: 17px/22px 'Montserrat'; text-align: center; position: relative; }
.bottom ul li span { font: bold 17px/22px 'Montserrat'; display: block; }
.bottom ul li img { position: absolute; z-index: 100; }
.bottom ul li:first-child img { top: 16px; left: 30px; }
.bottom ul li:nth-child(2) img { top: 3px; left: 19px; }
.bottom ul li:last-child img { top: 25px; left: 30px; }
.bottom ul li ins { display: inline-block; width: 100px; height: 100px; content: ''; background: #4c4199; border-radius: 50%; z-index: 1; position: relative; margin-bottom: 30px; text-align: center; }

footer { background: #2f2756; padding: 20px 0px; }
footer .navbar ul { border-bottom: 0px; padding-top: 20px; float: none; text-align: center; }
footer .navbar ul li a { color: #fff; }
footer .navbar { margin-bottom: 0px; }
footer .navbar ul:before { display: none; }

.form-block { float: right; }
	.form-block .sccc{font-size: 12px;color: green;text-align: center;padding: 5px 0;}
.form { width: 390px; background: #55469b; padding: 40px; text-align: right; }
.form a { color: #fff; font: 14px/16px 'Montserrat'; text-decoration: underline; margin-bottom: 15px; display: inline-block; }
.form input { display: block; margin-bottom: 15px; text-align: left; }
input[type="text"] { border: 1px solid #6c5fa8; border-radius: 0px; background: #5c4e9f; font: lighter 18px/22px 'Montserrat'; height: 55px; padding-left: 20px; color: #fff; }
button { border-radius: 0px; background: #755d85; border: 1px solid #f3ba2d; color: #f3ba2d; text-align: center; font: bold 18px/22px 'Montserrat'; height: 55px; width: 100%; margin-top: 30px; }

.blocks { min-height: 370px; position: relative; margin-bottom: 70px; }
.blocks p { color: #fff; padding-right: 80px; font: 17px/20px 'Montserrat'; margin-bottom: 10px; }
.blocks:after { display: block; content: ""; width: 50%; background: #6355a6; position: absolute; left: 0px; top: 0px; z-index: 10; min-height: 375px; }
.blocks:before { display: block; content: ""; width: 50%; background: #ecf3ff; position: absolute; right: 0px; top: 0px; z-index: 10; min-height: 375px; }
.blocks .container { z-index: 100; }

.video { margin-bottom: 90px; }
.video span { font: 14px/18px 'Montserrat'; }
.video div img { display: block; }
.video div { box-shadow: 10px 10px 10px 0px #b9b8c6; margin-bottom: 10px; background: url(../images/video.jpg) left top no-repeat; width: 100%; height: 320px; position: relative; }
.video div a { display: block; position: relative; }
.video div a:before { display: block; width: 160px; height: 195px; background: url(../images/icons/play-button.svg) left top no-repeat; background-size: cover; position: absolute; left: 50%; top: 50px; content: ""; margin-left: -80px; }


.carousel { background: #6456a8 url(../images/bg_carousel.png) center top no-repeat; height: 470px; padding: 40px 0px; }
.carousel h2 { color: #fff; margin-bottom: 30px; }
.carousel .item p { text-align: center; color: #30d709; font: bold 17px/18px 'Montserrat'; text-transform: uppercase; margin-bottom: 20px; }
.carousel .item span { display: block; text-align: center; color: #fff; font: 17px/18px 'Montserrat'; margin-bottom: 5px; }

.owl-nav div { display: block; width: 54px; height: 54px; border-radius: 50%; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d17ef+0,1a0578+100 */

background: #7d17ef; /* Old browsers */

background: -moz-linear-gradient(left,  #7d17ef 0%, #1a0578 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(left,  #7d17ef 0%,#1a0578 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to right,  #7d17ef 0%,#1a0578 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d17ef', endColorstr='#1a0578',GradientType=1 ); /* IE6-9 */

 text-indent: -9999px; position: absolute; top: 15px; box-shadow: 0px 0px 5px 3px #482c99; }
.owl-nav div.owl-prev { left: -50px; }
.owl-nav div:before { display: block; width: 8px; height: 14px; content: ''; position: absolute; top: 19px; }
.owl-nav div.owl-prev:before { background: url(../images/arrow-left-right.png) left top no-repeat; left: 20px; }
.owl-nav div.owl-next { right: -50px; }
.owl-nav div.owl-next:before { background: url(../images/arrow-left-right.png) -10px top no-repeat; left: 25px; }


.info { position: relative; }
.info div:before { width: 100%; height: 1px; background: #8176b7; display: block; content: ''; position: absolute; left: 0px; bottom: -30px; }
.info div { position: relative; text-align: center; padding: 30px 0px 25px; margin-bottom: 70px; border-right: 1px solid #8176b7; }
.info div:last-child { border-right: 0px; }
.info div p { color: #fff; font: bold 22px/24px 'Montserrat'; margin-bottom: 25px; }
.info div span { color: #fff; font: 22px/24px 'Montserrat'; position: relative; }
.info .course span:before { background: url(../images/icons/icon-11.png) left top no-repeat; width: 28px; height: 19px; display: block; content: ''; position: absolute; left: -40px; top: 5px; }
.info .summary span:before { background: url(../images/icons/icon-12.png) left top no-repeat; width: 15px; height: 20px; display: block; content: ''; position: absolute; left: -30px; top: 3px; }
.info .trade span:before { background: url(../images/icons/icon-13.png) left top no-repeat; width: 16px; height: 20px; display: block; content: ''; position: absolute; left: -30px; top: 3px; }

label.error { color: red; display: block; text-align: center; margin-bottom: 10px; }
input.error { border: 1px solid red; }


.navbar-default { background: none; border: 0px; }
.navbar-header { margin-bottom: 0px; }
.navbar-collapse, .container-fluid { margin-right: 0px; padding-right: 0px; }

.copy { font: 12px/18px 'Montserrat'; text-align: center; margin: 15px 0px 20px 0px; }
.copy a { color: #fff; text-decoration: underline; }

#MyPopup{
  position: fixed;top: 0;right: 0;bottom: 0;left: 0;background-color: rgba(0,0,0,0.5);z-index: 9999;
  display: none;
}
#MyPopup.show{display: block;}
  #MyPopup .p-content{
    margin: 0 auto; width: 100%; max-width: 1000px; min-width: 360px; position: relative;
    top: 10%; background: url(../images/th.png) no-repeat 20px center;
    height: 100%; max-height: 500px; min-height: 300px; background-color: #5F50A2;
  }
    #MyPopup .p-content .polovina_right{
      float: right;
      width: 52%;
      min-width: 360px;
      padding-top: 19%;
      text-align: center;
    }
      #MyPopup .p-content .polovina_right p{
        color: #fff;
        font-size: 42px;
        text-align: center;
        font-weight: bold;
        line-height: 56px;
      }
.clearfix{clear: both !important;}

@media only screen and (max-width:900px){
    #MyPopup .p-content{background-position: center 120px;background-size: 400px;}
    #MyPopup .p-content .polovina_right{float: none;width: 100%;padding-top: 10px;}
    #MyPopup .p-content .polovina_right p{display: inline-block;margin: 0 5px;}
}